<%
address = @order.user.present? ? @order.user.bill_address : @order.bill_address
address = @order.bill_address if address.nil?
user_name = address.firstname + ' ' + address.lastname

@num_greets =  number_of_greetings(order)
@num_ball_tix = num_ball_tickets(order)
@num_registration = num_registrations(order)
@reg_url = registration_link(order,regs)
%>
<table>
  <tr>
    <td> <img src='http://lep2015.com/wp-content/uploads/2014/06/cropped-LEP2015-Banner-White-Web-525wide.png' alt="lep2015 logo"/></td>
  </tr>
  <tr>
    <td>
      <p class="lede">
      Dear <%= user_name %>,
      </p>
      <p>
      The countdown to LEP 2015 is on!
      </p>
      <p>
      Please note that this email is NOT your ticket. See *Delivery* below for details on where to pick up your ticket.
      Thank you for using LEP 2015 online ticketing system. This email confirms your purchase and receipt of your payment. Please save this receipt for your records
      </p>
      <p>
       Here are the details of your order:
      </p>
      <hr/>
      <table>
        <% @order.line_items.each do |item| %>
          <tr>
            <td>
              <%= raw(item.variant.product.name) %>
            </td>
            <td>(<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= Spree.t('order_mailer.confirm_email.subtotal') %>
          </td>
          <td>
            <%= @order.display_item_total %>
          </td>
        </tr>
        <% if @order.line_item_adjustments.exists? %>
          <% if @order.all_adjustments.promotion.eligible.exists? %>
            <% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
              <tr>
                <td><%= Spree.t(:promotion) %> <%= label %>:</td>
                <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        <% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
          <tr>
            <td><%= Spree.t(:shipping) %> <%= name %>:</td>
            <td><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency) %></td>
          </tr>
        <% end %>
        <% if @order.all_adjustments.eligible.tax.exists? %>
          <% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
            <tr>
              <td><%= Spree.t(:tax) %> <%= label %>:</td>
              <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
            </tr>
          <% end %>
        <% end %>
        <% @order.adjustments.eligible.each do |adjustment| %>
          <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <tr>
            <td><%= adjustment.label %>:</td>
            <td><%= adjustment.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= Spree.t('order_mailer.confirm_email.total') %>
          </td>
          <td>
            <%= @order.display_total %>
          </td>
        </tr>
      </table>

      <hr/><br/>
      <% if (@num_registration > 0) || (@num_ball_tix > 0) || (@num_greets > 0) %>
        <p>
        To finalize your registration package, we ask that you please respond to this email with the following information, as it applies to your order:
        </p>

        <% if @num_registrations > 0 %>
          <p>
          Provide the names of all persons registered on this ticket order (adults, youth and children) – this will ensure that we have name badges for all of you.
          Please <a href="<%= @reg_url %>">click here for the registration information form</a>.
          </p>
        <% end %>

        <% if @num_ball_tix > 0 %>
          <p>
          Please indicate your meal preference for the Golden Ball by <a href="https://docs.google.com/forms/d/1Eld9ZeR5ICtN3QdRXt6fYuoqi446gnzzHvccKE4L4ss/viewform">selecting an option on the form here</a>. Please fill out a form for each person attending.
          </p>
        <% end %>

        <% if @num_greets > 0 %>
           <% greet_url = if @num_greets == 1
                "https://docs.google.com/forms/d/1R3fwkMYumRJ0Pcm6WEbkJ9dBj_9UniI5pVnQMAJP7us/viewform?entry.394773188=#{@order.number}&entry.1447869034=#{URI::encode(user_name)}"
              else
                "https://docs.google.com/forms/d/1SPI1hToJSSgWDTK5NkjsZrLS1S7DBkLopxyD6Akpr6M/viewform?entry.394773188=#{@order.number}&entry.1447869034=#{URI::encode(user_name)}"
              end
           %>
            <p>
            As you paid for a personal or business greeting in the Festival Program, please <a href="<%= greet_url %>">indicate how you would like your name(s) or business name(s)to appear in the program by filling out this form</a>.
            </p>
        <% end %>
        <hr/>
      <% end %>
      <br/>
      <p> Delivery of Tickets</p>
      <p>
      Purchased tickets will be available for pickup at the Festival registration area in the Hilton Hotel from Aug 4th - 8th, 2015. Please ensure you pick up your tickets at least 1 hour prior to the start of the performance. Tickets are non-refundable and have no cash value. Should you have any questions about your purchase, please email info@lep2015.com.<br/>
      We look forward to seeing you in Whistler this summer as we celebrate Estonia on the West Coast.
      </p>
    <p>
      Regards,<br/>
      The LEP 2015 Vancouver/Whistler Organizing Committee
    </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
